## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import json

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weather_Database.cvs")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,East London,ZA,-33.0153,27.9116,62.33,81,22,4.99,few clouds
1,1,Thompson,CA,55.7435,-97.8558,33.96,93,90,6.91,light intensity shower rain
2,2,Colares,PT,38.7992,-9.4469,68.99,85,100,3.00,overcast clouds
3,3,Mataura,NZ,-46.1927,168.8643,45.75,98,100,12.71,overcast clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,46.06,53,0,13.80,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
7,7,Touros,BR,-5.1989,-35.4608,77.90,76,96,14.85,overcast clouds
14,14,Paragominas,BR,-2.9667,-47.4833,76.03,86,100,3.98,overcast clouds
17,17,Sambava,MG,-14.2667,50.1667,73.45,88,75,6.58,light rain
18,18,Port Blair,IN,11.6667,92.7500,82.81,76,100,5.73,overcast clouds
25,25,Auki,SB,-8.7676,160.7034,86.81,62,29,3.58,scattered clouds
28,28,Bouna,CI,9.2667,-3.0000,75.13,79,21,4.92,few clouds
32,32,Byron Bay,AU,-28.6500,153.6167,71.56,77,100,16.91,overcast clouds
33,33,Kavieng,PG,-2.5744,150.7967,83.03,77,77,13.22,moderate rain
34,34,Sao Filipe,CV,14.8961,-24.4956,80.33,72,100,12.24,overcast clouds
35,35,Bambous Virieux,MU,-20.3428,57.7575,72.21,94,75,3.44,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        236
City           236
Country        236
Lat            236
Lng            236
Max Temp       236
Humidity       236
Cloudiness     236
Wind Speed     236
Description    236
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
drop_df = preferred_cities_df.dropna()
drop_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
7,7,Touros,BR,-5.1989,-35.4608,77.90,76,96,14.85,overcast clouds
14,14,Paragominas,BR,-2.9667,-47.4833,76.03,86,100,3.98,overcast clouds
17,17,Sambava,MG,-14.2667,50.1667,73.45,88,75,6.58,light rain
18,18,Port Blair,IN,11.6667,92.7500,82.81,76,100,5.73,overcast clouds
25,25,Auki,SB,-8.7676,160.7034,86.81,62,29,3.58,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
651,651,Belmonte,BR,-15.8631,-38.8828,75.70,85,93,6.08,overcast clouds
657,657,Tikrit,IQ,34.6071,43.6782,74.26,44,100,9.78,overcast clouds
658,658,Mbour,SN,14.4220,-16.9638,77.85,71,87,5.99,overcast clouds
661,661,Tessalit,ML,20.1986,1.0114,80.51,15,84,8.08,broken clouds
664,664,Puerto Narino,CO,-3.7703,-70.3831,75.15,84,85,2.33,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = drop_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
7,Touros,BR,77.90,overcast clouds,-5.1989,-35.4608,
14,Paragominas,BR,76.03,overcast clouds,-2.9667,-47.4833,
17,Sambava,MG,73.45,light rain,-14.2667,50.1667,
18,Port Blair,IN,82.81,overcast clouds,11.6667,92.7500,
25,Auki,SB,86.81,scattered clouds,-8.7676,160.7034,
28,Bouna,CI,75.13,few clouds,9.2667,-3.0000,
32,Byron Bay,AU,71.56,overcast clouds,-28.6500,153.6167,
33,Kavieng,PG,83.03,moderate rain,-2.5744,150.7967,
34,Sao Filipe,CV,80.33,overcast clouds,14.8961,-24.4956,
35,Bambous Virieux,MU,72.21,broken clouds,-20.3428,57.7575,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in preferred_cities_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    #6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except:
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
7,Touros,BR,77.90,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
14,Paragominas,BR,76.03,overcast clouds,-2.9667,-47.4833,INOVA
17,Sambava,MG,73.45,light rain,-14.2667,50.1667,Melrose
18,Port Blair,IN,82.81,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
25,Auki,SB,86.81,scattered clouds,-8.7676,160.7034,Auki Motel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [1]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

NameError: name 'gmaps' is not defined